*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slideshow{
	width: 100%;
	position: relative;
}
.slider li, ul{
	width: 100%;
}
.slider li{
	overflow: hidden;
}
.slider li img{
	width: 100%;
}
.pagination{
	position: absolute;
	top: 102%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #bd94c4;
	cursor: pointer;
}
.left, .right{
	position: absolute;
	top: 210px;
	height: 12%;
    width: 4.5%;
	background-color: #fdfdfd4a;
    border-radius: 10px;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}
.left{
	left: 10px;
}
.right{
	right: 10px;
}
@media screen and (max-width: 600px){
.left, .right{
		font-size: 30px;
	}
		.slider li img{
		width: 600px;
	}
	.pagination{
		display: none;
	}
}