/**************************************************
					FUENTES
*****************************************************/
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.eot');
    src: url('../fonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff'),
        url('../fonts/Quicksand-Medium.ttf') format('truetype'),
        url('../fonts/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.eot');
    src: url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/Quicksand-Bold.woff') format('woff'),
        url('../fonts/Quicksand-Bold.ttf') format('truetype'),
        url('../fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.eot');
    src: url('../fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff'),
        url('../fonts/Quicksand-Light.ttf') format('truetype'),
        url('../fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.eot');
    src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff'),
        url('../fonts/Quicksand-Regular.ttf') format('truetype'),
        url('../fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**************************************************
					PRESETS
*****************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*****************************************************************
						COLORES
******************************************************************/
/*
#bd94c4  fondo del menu
#b8bddb
#9b88b7
#5e548e
#221841
#404041
#6d6e70
#bbbdc0
*/
/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA HOME
**********************************************************
**********************************************************
***********************************************************/
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    /* overflow:hidden; */
}

/*******************************************************
						HEADER
********************************************************/
header {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: #bd94c4;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0px 5px 50px #bbbdc0;
    border-bottom: 2px solid #5e548e;
}

div.wrapper {
    max-width: 90%;
    margin: 0 auto;
    font: 0.9em 'Quicksand', sans-serif;
}

div.w1 {
    height: 100%;
    /*background-color: #333;*/
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo {
    width: 20%;
}

img.img_logo {
    max-width: 85%;
}

div.menu {
    height: 100%;
    width: 65%;
    padding-left: 5%;
    /* margin-right: 5%; */
    /* background-color: #333; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #504b51;
    font-weight: 900;
}

li a:hover {
    background-color: #5E548E;
}

div.mi_cuenta {
    height: 100%;
    background-color: #5E548E;
    /* width: 15%; */
}


a.login {
    padding: 20px 60px;
}


/*******************************************************
						MAIN
********************************************************/
main {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

div.w2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

/*********************************************************
						SLIDER
**********************************************************/
article.slideshow {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

ul.slider li, ul {
    width: 100%;
}

ul.slider li {
    overflow: hidden;
}

ul.slider li img {
    width: 100%;
}

ol.pagination {
    position: absolute;
    top: 102%;
    width: 100%;
    display: flex;
    justify-content: center;
}

ol.pagination li {
    font-size: 20px;
    margin: 2px 5px;
    color: #bd94c4;
    cursor: pointer;
    text-shadow: 2px 2px 5px #504b51;
}

ol.pagination span {}

div.left, .right {
    position: absolute;
    top: 210px;
    height: 12%;
    width: 4.5%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 8;
}

div.left {
    left: 10px;
}

div.right {
    right: 10px;
}

@media screen and (max-width: 600px) {
    .left, .right {
        font-size: 30px;
    }

    .slider li img {
        width: 600px;
    }

    .pagination {
        display: none;
    }
}

/*********************************************************
						TXT
**********************************************************/
hr {
    width: 75%;
    margin: 0 auto;
}

article.txt {
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

article.txt p {
    font-size: 30px;
    padding: 25px;
}

span {
    font-family: sans-serif;
}

/*********************************************************
						VIDEO
**********************************************************/
article.video {
    text-align: center;
}

video {
    margin-top: 30px;
    max-width: 70%;
}

/*********************************************************
						OPINIONES
**********************************************************/
article.exp {
    margin-top: 30px;
    background-color: #BD94C4;
    display: flex;
}

div.miexp {
    max-width: 50%;
    padding: 35px;
    height: auto;
    text-align: justify;
    display: flex;
}

div.exp_img {
    width: 30%;
    /* float: left; */
    /* margin-top: 50px; */
}

img.op {
    max-width: 100%;
    border-radius: 100px;
    border: solid 5px #5E548E;
}

div.exp_txt {
    width: 60%;
    /* float: right; */
    /* padding: 22px; */
    margin-left: 50px;
    text-align: justify;
}

h3.experiencia {
    font-size: 18px;
    color: #fff;
}

/*********************************************************
						FOOTER
**********************************************************/
footer {
    background-color: #221841;
    font: 0.8em 'Quicksand', sans-serif;
    /* height: 80px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -5px 50px #bbbdc0;
    border-top: 2px solid #bd94c4;

}
div.w5{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}
div.wfooter{
    padding: 5px;
    margin: 10px 50px;
    width: 500px;
}

a.a_footer{
    color: white;
    text-decoration: none;
    line-height: 2;
}

p.titulillo {
    color: white;
    font-size: 1.5em;
    font-weight: 900;
}

input.sus_email{
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}
input.btn_apuntate{
    width: 35%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #b8bddb;
    cursor: pointer;
}

div.redes_sociales {
    margin-top: 5px;
}
div.redes_sociales .fa {
    color: white;
    font-size: 2em;
}


div.propiedad {
    margin-bottom: 20px;
    color: white;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA ANIMALES
**********************************************************
**********************************************************
***********************************************************/
/*********************************************************
						BUSCADOR
**********************************************************/
article.buscador {
    margin: 30px;
    text-align: center;
}

select.bus_animal{
    height: 47px;
    width: 100px;
    padding-left: 10px;
    border: none;
    background-color: rgba(187, 189, 192, 0.3);
    font-size: 1em;
    box-shadow: 0px 1px 3px #404041;
}

input.search {
    background-color: rgba(187, 189, 192, 0.3);
    height: 45px;
    border: none;
    width: 50%;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 1em;
    box-shadow: 0px 1px 3px #404041;
    /* opacity: .5; */
}
button.lookup{
    background-color: #5E548E;
    border: none;
    color: white;
    height: 48px;
    width: 5%;
    box-shadow: 0px 1px 3px #404041;
    cursor: pointer;
}

button.lookup .fa{
    margin: 0;
}

/*********************************************************
						IMAGENES DE LOS ANIMALES
**********************************************************/

article.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

div.animalito {
    width: 300px;
    margin: 10px 0px;
    /* background-color: #333; */
}

img.a_pet {
    margin: 20px;
    max-width: 65%;
    border-radius: 200px;
    border: solid 5px #5E548E;
    opacity: 0.6;
}

img.a_pet:hover{
    opacity: 1;
}

button.nombre_ani{
    background-color: #5E548E;
    border: none;
    color: white;
    height: 47px;
    width: 30%;
    box-shadow: 0px 1px 3px #404041;
    cursor: pointer;
    font-weight: bold;
}
button.icono_ani{
    background-color: #b8bddb;
    border: none;
    color: white;
    height: 47px;
    width: 20%;
    box-shadow: 0px 1px 3px #404041;
    cursor: pointer;
}
button.icono_ani .fa{
    margin: 0;
}

div.animalito button:hover{
    background-color: #bd94c4;
}
/*********************************************************
						CARGADOR
**********************************************************/
article.load {
    margin: 50px;
    text-align: center;
    width: 100%;
    /* padding: 10px; */
}
article.load img{
    max-width: 25%;
    height: auto;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA QUIENES SOMOS
**********************************************************
**********************************************************
***********************************************************/
article.who {
    width: 100%;
}

article.who img {
    max-width: 100%;
}

figcaption.nosotros {
    margin: 20px 0px;
}

figcaption.nosotros p{
    padding: 25px;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5;
}

article.mapa {
    text-align: center;
    margin: 20px;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA QUIENES DONAR
**********************************************************
**********************************************************
***********************************************************/
article.donate {
    width: 100%;
    display: flex;
    align-items: center;
}

article.donate div {
    width: 50%;
    margin: 50px;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA CONTACTO
**********************************************************
**********************************************************
***********************************************************/
article.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

div.cancall {
    text-align: center;
    width: 40%;
}

div.cancall img {
    max-width: 100%;
    height: auto;
}

div.mensaje_enviado{
    margin-top: 20px;
    text-align: center;
    color: #5E548E;
    font-weight: bold;
    font-size: 1.5em;
}

div.formulario {
    width: 40%;
    display: block;
    margin: 50px auto;
}

form.form1 {
    margin: 0 auto;
    width: 400px;
}

form.form1 label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

form.form1 input, textarea {
    width: 380px;
    height: 20px;
    background-color: rgba(187, 189, 192, 0.3);
    border-radius: 5px;
    border: 1px solid #b8bddb;
    padding: 10px;
    margin-top: 5px;
    font: 0.9em 'Quicksand', sans-serif;
    box-shadow: 0px 1px 3px #404041;
}

form.form1 textarea {
    height: 150px;
}

button.btn_basic{
    float: right;
    background-color: #5E548E;
    border: none;
    color: white;
    height: 47px;
    width: 30%;
    box-shadow: 0px 1px 3px #404041;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
button.btn_basic:hover{
    background-color: #b8bddb;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA CUENTA
**********************************************************
**********************************************************
***********************************************************/
div.w3 {
    background-color: #BD94C4;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
    font: 0.9em 'Quicksand', sans-serif;
}

div.logo2 {
    width: 330px;
    margin: 0 auto;
}

img.img_logo2 {
    width: 330px;
}

div.gemelos {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    margin-top: 60px;
    display: flex;
}

section.pantalla_central {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
}

article.titulo_sesion h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px #504b51;
    text-transform: uppercase;
    font-weight: 450;
}

article.usuario {
    margin-top: 20px;
}

input.username, .password {
    width: 75%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}

::placeholder {
    font-size: 14px;
}

article.enviar {}

input.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
    height: 55px;
    font-weight: bold;
    background-color: #5E548E;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px #504b51;
}

input.btn:hover {
    background-color: #9B88B7;
}

article.recuerdame {
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
    font-family: 'Quicksand';
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
}

div.ayuda {
    float: right;
    margin-top: -16px;
    margin-right: 65px;
}

div.ayuda a {
    text-decoration: none;
    font-family: 'Quicksand';
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
}

p.pc1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
    margin-left: 5px;
    color: #fff;
    padding: 32px;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA REGISTRO
**********************************************************
**********************************************************
***********************************************************/
div.w4 {
    background-color: #BD94C4;
    /* background-attachment: fixed; */
    width: 100%;
    font: 0.9em 'Quicksand', sans-serif;
}

section.pa1 {
    width: 35%;
    height: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: #fff;
    padding-bottom: 30px;
}

article.titulo_central {
    align-self: center;
    justify-content: center;
}

article.titulo_central h2 {
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px #504b51;
}

article.datos {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}

div.div_datos {}

input.inpunt_basico {
    margin-top: 5px;
    width: 92%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    margin-bottom: 20px;
}

input.input_fecha {
    margin-top: 5px;
    width: 92%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    margin-bottom: 20px;
    color: #757575;
}

div.div_sexo {
    display: flex;
}

input.input_sexo {
    margin-top: 5px;
    width: 15px;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

div.div_sexo label {
    margin-top: 15px;
    margin-right: 15px;
}

select.busqueda_provincia {
    margin-top: 5px;
    width: 95%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    margin-bottom: 20px;
    color: #757575;
}

div.datos label {
    font-size: 14px;
    font-family: quicksand;
}

div.terminos {
    width: 100%;
}

div.terminos label {
    font-size: 12px;
    margin-left: -5px;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA COOKIES
**********************************************************
**********************************************************
***********************************************************/

article.cookies_texto{
    width: 75%;
    margin: 50px auto;
    /* padding: 60px; */
    line-height: 1.5;
    font-size: 1em;
    text-align: justify;

}
article.cookies_texto strong{
    font-weight: 800;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA ADOPTAR
**********************************************************
**********************************************************
***********************************************************/

article.adoptar{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;

}

article.adoptar img{
    max-width: 100%;
    height: auto;
    /* z-index: -1; */
}

div.txt_adopt{
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.5em;
    border-radius: 20px;
    line-height: 1.5;
    font-weight: 500;
}


/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA RESERVAR
**********************************************************
**********************************************************
***********************************************************/
article.reservar{
    /* width: 99vw;*/
    height: 95vh;
    background-image:url("../img/fondo_reserva3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

}
div.marco_reserva{
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #404041;
    margin-bottom: 200px;
}
form.contenido_reserva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.column_reserva{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid #757575;
    margin: 0% 2%;
}
div.column_reserva2{
    width: 20%;
    margin: 0% 2%;
}
div.column_reserva label{
    color: #5E548E;
    font-size: 1.2em;
    font-weight: bold;
}
div.column_reserva input{
    background-color: transparent;
    border: none;
    margin-top: 5px;

}
input.inpunt_basico2{
    color: white;
    background-color: #5E548E;
    box-shadow: 0px 1px 3px #404041;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    height: 50px;
    padding: 0px 30px;

}
input.inpunt_basico2:hover{
background-color: #b8bddb;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA PAGO_RESERVA
**********************************************************
**********************************************************
***********************************************************/
article.marco_confirmacion{
    width: 100%;
    background-image:url("../img/fondo_reserva4.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    flex-direction: column;
    padding: 5% 0%;


}
div.fila_confirmacion{
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin-top: 2%;
    display: flex;
    align-self: center;
    /* border: 2px solid #b8bddb; */
    box-shadow: 0px 1px 3px #404041;
    border-radius: 5px;
    padding: 1% 0%;
    line-height: 2;

}
div.fc1{
    text-align: center;
}
div.fc2{
    box-shadow: inherit;
    background-color: inherit;
    color: #fff;
    text-shadow: 1px 1px #504b51;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: none;
    font-size: 2em;
    font-weight: bold;
}
div.column_confimacion{
    flex: 30%;
}
label.label_titulo{
    color: #5E548E;
    font-size: 1.2em;
    font-weight: bold;
}
label.term_condition input{
    width: 12px;
    height: 12px;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA MENSAJE_PAGO
**********************************************************
**********************************************************
***********************************************************/
article.mensajedepago{
    /* width: 99vw;*/
    height: 95vh;
    background-image:url("../img/fondo_reserva8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow: hidden; */

}
div.marco_mensajedepago{
    background-color: rgba(184, 189, 219, 0.6);
    width: 25%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 5px 20px #bbbdc0;
    /* margin-bottom: 200px; */
    font-weight: bold;
    font-size: 2em;
}

/*********************************************************
**********************************************************
**********************************************************
					ACÁ COMIENZA PERFIL
**********************************************************
**********************************************************
***********************************************************/

div.div_gemelos{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 60px 0px;
}

section.pantalla_central2{
    background-color: rgba(187, 189, 192, 0.3);
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid #b8bddb;
    box-shadow: 0px 1px 3px #404041;
    padding: 15px;
}

section.section_izq{
    width: 70%;
}

hr.hr_uno{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

article.datos_uno{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div.column{
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
div.div_datosp{
    width: 100%;
    text-align: right;
}

label.label_perfil{
    display: inline-block;
    width: 125px;
    text-align: left;
}

input.input_datos{
    width: 240px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
}

input.btn_cambios{
    float: right;
    /* display: block; */
    /* margin-right: 56px; */
    margin-top: 10px;
    width: 140px;
    height: 35px;
    font-weight: bold;
    background-color: #5e548e;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px #504b51;
}

section.section_drch{
        width: 20%;
        background-color: #5e548e;
        margin: 0 0 0 1px;

    }

div.i_perfil{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 40px; */
}
div.i_perfil .fa-user{
    font-size: 10em;
    color: white;
}

.p_nombre h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
    /* margin-top: 15px; */
}

div.p_location {
    text-align: center;
    color: #fff;
}

.p_location i {
    display: inline-block;
    margin: 2px;
    font-size: 1em;
}

.p_location h3 {
    display: inline-block;
}

div.p_descripcion p {
    text-align: justify;
    margin: 10px 20px;;
    color: #fff;
}

section.section_drch div.redes_sociales {
    text-align: center;
}
